<?xml version="1.0" encoding="UTF-8"?>


<widget
    xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id = "edu.uab.business.studentapp"
    versionCode = "1"
    version = "0.0.1" >
    <!-- versionCode is optional and Android only -->
    <name>Mobile App Assignment 5</name>
    <description>Mobile App Assignment 5</description>
    <author>Sherry La Russa</author>
    <preference name="phonegap-version" value="cli-7.0.1" />
    <plugin name="cordova-plugin-whitelist" source="npm" />
    <access origin="*" />
    <plugin name="cordova-plugin-geolocation" source="npm" />
    <platform name="ios">
        <icon src="icon.png" width="180" height="180" />
    </platform>
    <platform name="android">
        <icon src="icon.png" width="180" height="180" />
    </platform>
    <platform name="winphone">
        <icon src="icon.png" width="180" height="180" />
    </platform>
    <platform name="ios">
        <splash src="splash.png" width="320" height="480" />
        <splash src="splash.png" width="640" height="960" />
    </platform>
    <platform name="android">     
        <splash src="splash.png" qualifier="port-xxhdpi" />
        <splash src="splash.png" qualifier="land-xxhdpi" />
        <splash src="splash.png" qualifier="xxxhdpi" />
    </platform>
    <platform name="winphone">
        <splash width="1152" height="1920" src="splash.png" />
        <splash width="620"  height="300"  src="splash.png" />
    </platform>
</widget>